<div class="appContainer container" role="main">
  <header class="appHeader row">
    <anu-menu [logoUrl]="'/favicon.ico'" (openStatusChanged)="mainMenuOpenStatusChanged($event)" [opened]="isMainNavOpen" [items]="mainMenuItems"
      [heading]="appConfig.name" [subHeading]="appConfig.metaInfo.title" [headingHref]="['./']"
      [subHeadingHref]="['./']">
      <anu-login-status (profileClicked)="loginStatusClicked()" (signOutClicked)="loginStatusClicked()"
        (signInClicked)="loginStatusClicked()" theme="" loginPageUrl="/components/auth/LoginComponent" profilePageUrl="/profile"
        loggedOutPageUrl="/components/auth/LoginComponent"></anu-login-status>
    </anu-menu>
  </header>
  <header class="appHeader row">
    <section class="col-12 right">
      <anu-theme-picker></anu-theme-picker>
    </section>
  </header>
  <section class="app-content container">
    <router-outlet></router-outlet>
  </section>
  <footer class="appFooter row">
    <anu-footer-nav class="spacing-vertical" [copyrightText]="appConfig.copyrightText" [items]="mainMenuItems">
    </anu-footer-nav>
  </footer>
</div>
