@import '../scss/mixins.scss';

.appContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.appHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  &_title {
    font-size: 2rem;
    font-weight: bold;
  }
}

.appFooter {

}

.appContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .content {
    padding: 1em;

    @include large {
      width: 60%;
    }

    @include medium {
      width: 80%;
    }

    @include small {
      width: 100%;
    }
  }

  .leftSideMenu {
    padding: 1em;

    @include large {
      width: 20%;
    }

    @include medium {
      width: 20%;
    }

    @include small {
      width: 100%;
    }
  }

  .rightSideMenu {
    padding: 1em;

    @include large {
      width: 20%;
    }

    @include medium {
      width: 100%;
    }

    @include small {
      width: 100%;
    }
  }

}
