<div class="appContainer container" role="main">
  <header class="appHeader row">
    <anu-menu [items]="mainRoutes" heading="Annu Components Library"></anu-menu>
  </header>
  <header class="appHeader row">
    <section class="col-12 right"><anu-theme-picker></anu-theme-picker></section>
  </header>
  <section class="appContent row">
    <section class="leftSideMenu col-sm-12 col-md-3 col-lg-2">
      <anu-aside-nav heading="Components" [items]="componentsNavItems">
      </anu-aside-nav>
    </section>
    <main class="content col-sm-12 col-md-9 col-lg-8">
      <router-outlet></router-outlet>
    </main>
    <section class="rightSideMenu col-sm-12 col-md-12 col-lg-2">
      Right Navigation
    </section>
  </section>
  <footer class="appFooter row">
    <anu-footer-nav copyRightText="copyright©annucomponentslibrary" [items]="mainRoutes"></anu-footer-nav>
  </footer>
</div>
