<anu-component-info name="CategoryArticlesListComponent">
    <h3>Usage</h3>
    <anu-code-block source='<anu-category-articles-list [category]="category" orderBy="updated" [pageSize]="10" [headerClassNames]="[]" [listClassNames]="[]"></anu-category-articles-list>'></anu-code-block>
    <h3>Resulted UI</h3>
    <anu-category-articles-list href="../" class="spacing" [category]="category" orderBy="updated" [pageSize]="10" [headerClassNames]="['shadow', 'primary-lighter-bg', 'spacing']" [listClassNames]="[]"></anu-category-articles-list>
</anu-component-info>
