<anu-hamburger class="lib-nav-hamburger" [opened]="libNavOpened" (changed)="libNavChanged($event)">Library
  Documentation</anu-hamburger>
<div class="row-md row-lg nowrap relative app-content-sub-container">
  <section class="leftSideMenu" [ngClass]="libNavOpened === true? 'leftSideMenu-width': ''">
    <!-- Visible in Mobile only -->
    <div class="lib-nav-mobile">
      <anu-drawer
        class="lib-nav-mobile-drawer drawer-static drawer-top-sm drawer-left-md drawer-left-lg primary-lightest-bg shadow spacing"
        [opened]="libNavOpened">
        <ng-container *ngTemplateOutlet="libNavTemplate; context:{docsNavs}"></ng-container>
      </anu-drawer>
    </div>

    <!-- Visible in Desktop and Ipad only -->
    <!-- <div class="hidden-sm">
        <ng-container *ngTemplateOutlet="libNavTemplate; context:{docsNavs}"></ng-container>
      </div> -->
  </section>
  <main class="content" [ngClass]="libNavOpened === true? 'content-width': ''">
    <anu-error *ngIf="error" [code]="error?.code || error?.status" [message]="error?.message"></anu-error>
    <router-outlet></router-outlet>
  </main>
</div>



<!-- Navigation Items Template -->

<ng-template #libNavTemplate>
  <anu-collapsible *ngFor="let pNav of docsNavs" [collapsed]="true" [hamBurgerClassNames]="['size-sm']">
    <anu-collapsible-header class=""><strong>{{pNav.title}}</strong></anu-collapsible-header>
    <anu-collapsible-content class="spacing-horizontal">
      <ng-container *ngFor="let sNav of pNav.subNav">
        <anu-collapsible *ngIf="sNav.subNav && sNav.subNav.length" [collapsed]="false" [hamBurgerClassNames]="['size-sm']">
          <anu-collapsible-header>{{sNav.title}}</anu-collapsible-header>
          <anu-collapsible-content>
            <ul>
              <li class="nav-link" *ngFor="let navItem of sNav.subNav">
                <a [routerLink]="[pNav.href, sNav.href, navItem.href]" [routerLinkActive]="'active'"
                  (click)="libNavOpened = !libNavOpened">{{navItem.title}}</a>
              </li>
            </ul>
          </anu-collapsible-content>
        </anu-collapsible>
      </ng-container>
    </anu-collapsible-content>
  </anu-collapsible>
</ng-template>
