<anu-component-info name="ToggleComponent">
    <h3>Usage</h3>
    <anu-code-block source='<anu-toggle [rounded]="true" title="Toggle Button"></anu-toggle>'></anu-code-block>
    <h3>Resulted UI</h3>
    <anu-toggle [rounded]="true" title="Toggle Button"></anu-toggle>

    <h3>Usage</h3>
    <anu-code-block source='<anu-toggle [rounded]="false" title="Toggle Button"></anu-toggle>'></anu-code-block>
    <h3>Resulted UI</h3>
    <anu-toggle [rounded]="false" title="Toggle Button"></anu-toggle>

</anu-component-info>
