<anu-component-info name="ModalComponent">
    <h3>Usage</h3>
    <anu-code-block source='
    <a href="#" (click)="showModal($event, true)">Show Modal</a>
    <anu-modal [opened]="isOpened">
        My Modal content My Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal content
        <a href="#" (click)="showModal($event, false)">Cancel</a>
    </anu-modal>
'></anu-code-block>
    <h3>Resulted UI</h3>
    <a href="#" (click)="showModal($event, true)">Show Modal</a>
    <anu-modal [opened]="isOpened">
        My Modal content My Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal
        contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal
        contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal
        contentMy Modal contentMy Modal contentMy Modal contentMy Modal content
        <a href="#" (click)="showModal($event, false)">Cancel</a>
    </anu-modal>
</anu-component-info>
