<a href="#" (click)="showModal($event, true)">Show Modal</a>

<anu-modal [opened]="isOpened">
    My Modal content My Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal contentMy Modal content
    <a href="#" (click)="showModal($event, false)">Cancel</a>
</anu-modal>