@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import "mixins";

* {
  box-sizing: border-box;
}
html {
  font-family: var(--anu-fontFamily);
  font-size: var(--anu-fontSize);
  line-height: 1.5;
  letter-spacing: 0.05rem;
}

body {
  padding: 0;
  margin: 0;
  color: var(--anu-accentNormal);
}

a {
  color: var(--anu-primaryDark);
  text-decoration: none;

  &:hover {
    color: var(--anu-primaryNormal);
  }
}

.btn {
  display: inline-block;
  color: var(--anu-accentDarker);
  background-color: var(--anu-primaryNormal);
  border: solid 0.001em var(--anu-primaryDark);
  border-radius: 0.3rem;
  font-size: 1rem;
  text-align: center;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: var(--anu-accentDarkest);
    text-decoration: none;
    background-color: var(--anu-primaryLight);
    border-color: var(--anu-primaryNormal);
  }

  &.secondary {
    color: var(--anu-accentDarker);
    background-color: var(--anu-secondaryNormal);
    border-color: var(--anu-secondaryDark);

    &:hover {
      color: var(--anu-accentDarkest);
      background-color: var(--anu-secondaryLight);
      border-color: var(--anu-secondaryNormal);
    }
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: bold;
    color: var(--anu-primaryNormal);
  }

  p {
    margin-bottom: 1em;
    color: var(--anu-accentNormal);
  }

ul,
ol {
  margin-top: 0;
}

ul {
  list-style-type: circle;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; // For Firefox to horizontally scroll wider tables.
  -webkit-overflow-scrolling: touch;

  th {
    font-weight: bold;
    background-color: var(--anu-primaryNormal);
    color: var(--anu-accentDark);
  }

  th,
  td {
    padding: 0.5rem 1rem;
    border: 0.002rem solid var(--anu-backgroundDark);
  }
}

hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: var(--anu-backgroundLighter);
  border: 0;
}

label {
  display: block;
  width: 100%;
  padding: 1em 0;
}

input[type="text"], textarea {
  display: block;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--anu-primaryLighter);

  &:focus-visible {
    outline-color: var(--anu-primaryNormal)
  }
}

.error {
  color: $error;
}

.success {
  color: $success;
}

.warning {
  color: $warning;
}